@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100;200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Victor Mono', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #020024, #c918e3);
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.other-clocks {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.relogio-br {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    max-width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio-br div {
    height: 170px;
    width: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .25);
    box-shadow: rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio-br span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio-br span.tempo {
    font-size: 10px;
}

.relogio-us {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    max-width: 275px;
    background: transparent;
    border-radius: 1.5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .25);
}

.relogio-us div {
    height: 85px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .25);
    box-shadow: rgba(0, 0, 0, .35);
    border-radius: 3.5px;
    letter-spacing: 1.5px;

}

.relogio-us span {
    font-weight: bolder;
    font-size: 30px;
}

.relogio-us span.tempo {
    font-size: 5px;
}

.relogio-br, .relogio-us, .relogio-en, .relogio-jp {
    margin-right: 20px;
}

.washington, .greenwich, .tokyo {
    margin-right: 40px;
}

.relogio-jp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    max-width: 275px;
    background: transparent;
    border-radius: 1.5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .25);
}

.relogio-jp div {
    height: 85px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .25);
    box-shadow: rgba(0, 0, 0, .35);
    border-radius: 3.5px;
    letter-spacing: 1.5px;

}

.relogio-jp span {
    font-weight: bolder;
    font-size: 30px;
}

.relogio-jp span.tempo {
    font-size: 5px;
}

.relogio-en {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    max-width: 275px;
    background: transparent;
    border-radius: 1.5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .25);
}

.relogio-en div {
    height: 85px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .25);
    box-shadow: rgba(0, 0, 0, .35);
    border-radius: 3.5px;
    letter-spacing: 1.5px;

}

.relogio-en span {
    font-weight: bolder;
    font-size: 30px;
}

.relogio-en span.tempo {
    font-size: 5px;
}


.title-us {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #fff;
    font-weight: bolder;
}
